body {
    background-color: rgb(33, 37, 41);
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

h1 {
    background-color: rgba(0, 0, 0, 0.121);
    text-align: center;
    padding: 10px 0px 10px;
    color: white;
    font-size: 50px;
}

.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}


.fix-width {
    width: 400px;
}

.bottom-left {
    position: fixed;
    bottom: 10px;
    left: 15px;
}

.twitch {
    --bs-btn-color: #7547d1;
    --bs-btn-border-color: #7547d1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7547d1;
    --bs-btn-hover-border-color: #7547d1;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7547d1;
    --bs-btn-active-border-color: #7547d1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #7547d1;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #7547d1;
    --bs-gradient: none;

  }
  
  .dc {
    --bs-btn-color: #436279;
    --bs-btn-border-color: #436279;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #436279;
    --bs-btn-hover-border-color: #436279;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #436279;
    --bs-btn-active-border-color: #436279;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #436279;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #436279;
    --bs-gradient: none;
  }  

  .twitter {
    --bs-btn-color: #0091ff;
    --bs-btn-border-color: #0091ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0091ff;
    --bs-btn-hover-border-color: #0091ff;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0091ff;
    --bs-btn-active-border-color: #0091ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0091ff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0091ff;
    --bs-gradient: none;
  }  

  .steam {
    --bs-btn-color: #2a367d;
    --bs-btn-border-color: #2a367d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2a367d;
    --bs-btn-hover-border-color: #2a367d;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2a367d;
    --bs-btn-active-border-color: #2a367d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2a367d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2a367d;
    --bs-gradient: none;
  }

  .mc {
    --bs-btn-color: #008327;
    --bs-btn-border-color: #008327;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #008327;
    --bs-btn-hover-border-color: #008327;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #008327;
    --bs-btn-active-border-color: #008327;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #008327;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #008327;
    --bs-gradient: none;
  }