.bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    margin: auto 250px auto 250px;
}

.bingo-cell {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s;
    color: black;
    font-size: 20px;
    font-weight: 900;
    height: 130px;
}

.bingo-cell.marked {
    background-color: #bf1f1f82;
}

.bingo-cell:hover {
    box-shadow: inset 0px 0px 0px 5px rgb(255, 0, 0);
}

.leak {
    margin-top: 21%;
}

.box {
    border: 5px solid rgb(0, 0, 0);
}

.expl {
    text-decoration: none;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
}

.carousel-inner {
    text-align: center;
}

hr {
    margin: auto;
    width: 50%;
}