body {
  background-color: #19222c;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  scrollbar-width: none;
  margin-bottom: 50px;
  overflow-x: hidden;
}

.title-container {
  height: 150px;
}


h1 {
  color: rgb(99, 208, 255);
  margin: 30px 0px 30px 0px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 120px;
  text-shadow: 6px 5px 0px rgb(31, 105, 203);
  letter-spacing: 10px;
}

h2 {
  color: rgb(119, 142, 255);
  text-shadow: 4px 3px 0px rgb(37, 78, 145);
  font-size: 70px;
  letter-spacing: 3px;
}

h3 {
  text-align: center;
  font-size: 45px;
  letter-spacing: 3px;
}

p {
  font-size: 33px;
  text-align: justify;
  color: rgb(119, 119, 255);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

li {
  list-style-type: square;
  font-size: 33px;
  line-height: 1.1;
}

.my-center {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 50px 0px 50px 0px;
}

.about-box {
  border-top: 5px solid rgb(175, 187, 255);
  border-bottom: 5px solid rgb(175, 187, 255);
  transition: 300ms all ease-in-out;
  background-color: rgba(65, 75, 131, 0);
}

.about-box:hover {
  background-color: rgba(65, 75, 131, 0.04);
  transition: 300ms all ease-in-out;
}

.info-box {
  border: 5px solid rgb(255, 194, 143);
  box-shadow: 3px 3px 0px 0px rgb(197, 119, 46);
  padding: 20px;
  width: 100%;
  transition: 300ms all ease-in-out;
  background-color: rgba(147, 194, 93, 0);
}

.info-box  h3{
  color: rgb(255, 174, 107);
  text-shadow: 3px 2px 0px rgb(167, 86, 11);
}

.info-box li, .info-box a {
  color: rgb(252, 122, 2);
  transition: 300ms all ease-in-out;
}

.info-box:hover {
  transition: 300ms all ease-in-out;
  background-color: rgba(255, 244, 172, 0.02);
  transform: scale(1.01);
}

.info-box hr {
  border: 3px solid rgb(255, 174, 107);
  margin: 0px auto 0px auto;
  width: 80%;
  opacity: 1;
}

.code-box {
  border-top: 5px solid rgb(204, 255, 146);
  border-bottom: 5px solid rgb(204, 255, 146);
  padding: 20px;
  width: 100%;
  transition: 200ms all ease-in-out;
  background-color: rgba(147, 194, 93, 0);
}

.code-box h3 {
  color: rgb(150, 255, 106);
  text-shadow: 3px 2px 0px rgb(100, 182, 65);
}

.code-box li, .code-box a {
  color: rgb(61, 230, 49);
  transition: 300ms all ease-in-out;
}

.code-box:hover {
  transition: 300ms all ease-in-out;
  background-color: rgba(147, 194, 93, 0.02);
}

.code-level {
  color: rgb(22, 178, 22);
  text-decoration: underline;
}

.link1:hover{
  color: rgb(255, 99, 71);
  position: absolute;
  transition: 200ms all ease-in-out;
  transform: scalex(1.25) skew(5deg) translateX(15px);
}

.link2:hover{
  color: rgb(255, 99, 71);
  position: absolute;
  transition: 200ms all ease-in-out;
  transform: scaleY(1.25) rotate(2deg) translate3d(-1px, -1px, 0px);
}

.link3:hover{
  color: rgb(255, 99, 71);
  position: absolute;
  transition: 200ms all ease-in-out;
  transform: scaleY(1.25) rotate(-2deg) translate3d(1px, 1px, 0px);
}


@media screen and (max-width: 991px) {
  h2 {
    text-align: center;
  }
  .my-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    text-align: center;
    list-style: none;
    margin-right: 25px;
  }

  .link1:hover{
    color: rgb(255, 99, 71);
    transition: 200ms all ease-in-out;
  }

  .link2:hover{
    color: rgb(255, 99, 71);
    transition: 200ms all ease-in-out;
  }

  .link3:hover{
    color: rgb(255, 99, 71);
    transition: 200ms all ease-in-out;
  }

  .info-box li {
  margin-top: 10px;
  }
 
  .code-box li{
    margin-top: 20px;
  }

  .code-level {
    display: inline;
    font-size: 38px;
  }

  .code-level:after {
    content:"\a";
    white-space: pre;
  }
}

@media screen and (max-width: 768px) {
 p {
    text-align: justify;
 }

 h1 {
    font-size: 80px;
    letter-spacing: 10px;
  }
}

@media screen and (max-width: 576px) {
  p {
    text-align: center;
  }

  .about-box {
    border: 5px solid rgb(175, 187, 255);
    box-shadow: 3px 3px 0 0 rgb(76, 103, 255);
  }

  .code-box {
    border: 5px solid rgb(204, 255, 146);
    box-shadow: 3px 3px 0 0 rgb(125, 190, 50);
  }

}